.marginMobile{
	margin-right: 0.5em;
	margin-left: 0.5em;

}
.btnLongMobile{
	width: 97%;
	margin-right: 0.5em;
	margin-left: 0.5em;
}
.radioMobile{
	margin-right: 0.5em;
}

.Intestazione>div>div{
	width: 98%;
    text-align: center;
}

