/**************************
			MENU
***************************/
.menu {
	position: static;

	}
.menu li{
	float: none;
	width: 100%;
}
.header {
	margin-top: 0;
}
.breadcrumb {
	margin-top: 0;
}
.menu li.right {
	float: none;
}

.breadcrumb , .menu {
	font-size: 1.2em;
}
/**************************
		GENERALI
***************************/
.rightBig , .rightSmall,.VrightBig{
	margin: 0;
}
.leftBig ,.VleftSmall, .leftSmall{
	margin:0;
}
.leftHalf{
	width: 98%;
}

.leftBig ,.VleftSmall, .leftSmall, .rightBig , .rightSmall,.VrightBig{
	width:100%;
}
.rightBig , .rightSmall,.VrightBig{
	margin: 0;
}
.leftBig ,.VleftSmall, .leftSmall, .lefthalf{
	margin: 0;
}
/*.marginMobile {
    margin-right: 0.5em;
    margin-left: 0.5em;
}*/


.leftBig h1, .VrightBig h1{
	margin-top: 0.1em;
	font-size: 1.2em;
}
.leftBig p, .VrightBig p{
	 margin-right: 0.2em;
    font-size: 0.9em;
    max-height: 130px;
    overflow: hidden;
}
/**************************
		BOX
***************************/

.box , .strict {
	width: 90%;
}

/**************************
		TESTO
***************************/
.text {
	font-size: 1.3em;
}
.Intestazione>dl{
	border: none;
}
.Intestazione>img{
	height: 19em;
	width: 13em;
	margin: 1%;
}
.Intestazione h1 {
	margin-left: 0;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.Intestazione>div:not(:last-child){
	width: 100%;
}
.valutazioniRecensione {
    width: 100%;
}
.valutazioniRecensione li{
    margin-left: 1%;
}
.stelle{
	display: inline-block;
}
/**************************
		ELENCO
***************************/

.elenco {
	font-size: 1.2em;
}
.elenco img {
    width: 6.5em;
    height: 9.4em;
}
.elenco dd h1 {
    font-size: 1.2em;
}
/**************************
		AMMINISTRAZIONE
***************************/

.boxAdmin a{
	width: calc(49% - 2px);
}
.Table{
	overflow-x: scroll;
    width: 100%;
    }
/**************************
		BOTTONI
***************************/
.btnLongMobile {
    width: 97%;
    margin-right: 1.5%;
    position: relative;
}

.button {
	width:98%;
}
.btnDelete{
    height: 3.1em;
    position: relative;
    
 }

/**************************
		PROFILO
***************************/

.MiniaturaLibro{
	width: 33%;
}

/**************************
		RECENSIONI
***************************/
.filtri>h1{
	margin-top: 0.2em;
}

.filtri>form>div>div{
	position: relative;
   width: 96%;
   left: 2%;
}


.btnDeleteComment {
    height: 3.1em;
    width: 3.1em;
    float: right;
}
th,td{
  	border-bottom: 1px solid #ddd;
   border-left: 1px solid #ddd;
   padding: 0.1em 0.2em 0.1em 0.2em;
   text-align: left;
   font-size: 0.8em;
}