/**************************
			MENU
***************************/
.menu {
	position: static;
	}
.menu li{
	float: none;
	width: 100%;
}
.header {
	margin-top: 0;
}
.breadcrumb {
	margin-top: 0;
}
.menu li.right {
	float: none;
}

/**************************
		GENERALI
***************************/
.rightBig , .rightSmall,.VrightBig{
	margin-right: 1%;
}
.leftBig ,.VleftSmall, .leftSmall{
	margin-right: 2%;
	margin-left: 1%;
}


.leftBig ,.VleftSmall, .leftSmall, .rightBig , .rightSmall,.VrightBig {
	width:100%;
}
.rightBig , .rightSmall,.VrightBig{
	margin-right: 0;
}
.leftBig ,.VleftSmall, .leftSmall{
	margin-right: 0;
	margin-left: 0;
}

.box , .strict {
	width: 90%;
}