/**************************
	BREADCRUMB E RICERCA
***************************/

#search {
	width: 10em;
}

/**************************
			SLIDESHOW
***************************/

.slideTitle, .slideAuthor, .slideRate {
	display: none;
}
.slideshow img {
	width:50%;
	margin-left: 25%;
}

