.doubletable {
	width: 100%;
}
/** {	background-color: yellow;}*/
#news {
	border-left: 0;
}
.menu ul li a,.menu ul li.Accesso{
	display: none;
	width: 100%;
}
.slideTitle, .slideAuthor, .slideRate {
	display: none;
}
.slideshow img {
	margin-left: 25%;
}
#search {
	display: none;
}
