* {	
	margin: 0em;
	padding: 0em;
}
html, body{
	max-width: 1200px;
	font-family: Verdana, Helvetica, sans-serif;
	background-color:#ddd;
   height:100%;
   margin:0;
   padding:0;
   text-align:center;
}
fieldset {
	border:0;
}
a:link {
	color: blue;
}
a:visited {
	color:#8b2323;
}
/**************************
			AMMINISTRAZIONE
***************************/
a.grey:link {
color:white; 
background-color:grey;
border: 1px solid grey;
text-decoration:none} 

a.grey:visited{color: white;
background-color:grey;
border: 1px solid grey;
text-decoration:none;} 
/**************************
			MENU
***************************/

.menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background-color: grey;
}
.menu ul {
	max-width: 1200px;
	margin:auto ;
	list-style-type: none;
}
.menu li {
	float: left;
	width: 100px;
}

.menu ul li > a{
	padding: 0.5em;
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	
}
.menu ul li > a:hover {
	color: white;
	background-color: black;
}
.menu ul li.icona {
	display:none;
}
.menu li.right {
	float: right;
}
/**************************
		MENU - ACCESSO
***************************/
#Accesso{
	position: relative;
}
#Accesso:hover  #Dropdown{
	background-color: #aaaaaa;
	display: block;
}
#Dropdown {
	display: none;
	position: absolute;
	right:0;
	left:auto;
	top: 2.1em;
	border:1px solid black; 
	max-width: 25em;
	min-width: 15em;
	padding:0.5em;
	text-align: center;
}

.textBox input{
	display:block;
	margin: 0.3em auto 0.3em auto;
	width:80%;
}
#btnAccedi {
	margin-top: 1em;
}
#forgot{
	font-size: 0.8em;
	text-align: left;
	padding: 1em;
}
/**************************
	BREADCRUMB E RICERCA
***************************/
.breadcrumb {
	height: 2.5em;
	margin-top:2.1em;
	border: 1px solid black;

}	

.path {
	padding-left: 0.5em;
	padding-top: 0.8em;
	float: left;
	
}

.searchform {
	padding-right:0.5em;
	padding-top: 0.7em;
	float: right;
	
}

/**************************
			INDEX
***************************/

.text {
	padding:0.5em;
}


/**************************
			SLIDESHOW
***************************/
.slideshow{
	border:1px solid black;
	max-width: 100%;
	position: relative;
	z-index: 1;
	background-color: #F2F2F2;

}
.back, .next  {
 	cursor: pointer;
	color: white;
	background-color: grey;
	padding: 1em;
	top: 40%;
	position: absolute;
}
.next {
	right: 0;
}
.back:hover, .next:hover {
	background-color: orange;
}
.slideshow img {
	position: relative;
	padding: 1em;
	margin-left: 3em;
	max-width: 45%;
	height: 15em;
}
.slideTitle, .slideAuthor, .slideRate {
	display:block;
	top: 1em;
	left: 50%;
	position: absolute;
	font-weight: bold;
	font-size: 1em;
}
.slideAuthor {
	top: 7em;
}
.slideRate {
	top: 14em;
}
#dotContain{
	text-align: center;
}
.dot {
  cursor:pointer;
  height: 1.5em;
  width: 1.5em;
  margin: 0 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}

/**************************
		RECENSIONI E NEWS
***************************/
.doubletable{
	margin-top:5em;
	background-color: #F2F2F2;
	float: left;
	width:49.5%;
	margin-bottom: 10em;	
}
.doubletable dt{
	border: 1px solid black;
	padding: 0.5em;
	text-align: center;
	font-size:1em;
	font-weight:bold;
}
.doubletable dd a{
	list-style-type:none;
	display: block;
	padding: 0.3em;
	overflow: hidden; 
}
.doubletable dd:hover{
	background-color: orange; 
}
#news {
	float:right;
}
/**************************------------------------------------------
		CONTATTI
***************************/
#emailform {
	margin-top: 5em;
	width: 100%;
}
#emailform fieldset {
	padding: 1em;
	border: 1px solid #F2F2F2;
}
#emailform label {
	text-align: left;
	display: block;
}
#emailform textarea {
	width: 95%;
	height: 10em;
}
#emailbt {
	margin: 0.5em 0.5em 0.5em 0;
	display: block;
	vertical-align:top;
}


