* {	
	margin: 0em;
	padding: 0em;
}
html, body{
	max-width: 1024px;
	font-family: Verdana, Helvetica, sans-serif;
	margin: auto;
	background-color:#ddd;
}
fieldset {
	border:0;
}
a:link {
	color: blue;
}
a:visited {
	color:#8b2323;
	
}
/**************************
			MENU
***************************/
.menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
}
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: grey;
}
.menu li {
	display:inline-block;
	width: 100px;
}

.menu li a , .Accesso{
	padding: 0.5em;
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
}
.menu li a:hover{
	color: white;
	background-color: orange;
}
/**************************
		MENU - ACCESSO
***************************/
.Accesso{
	float: right;
	border: 1px solid black;
}
.Dropdown {
	display: none;
	position: absolute;
	top: 2.4em;
	border-top:1px solid #ddd; 
	max-width: 40em;
	min-width: 30em;
}
.Accesso:hover  .Dropdown{
	float: left;	
	background-color: #aaaaaa;
	display: block;
	left: auto;
	right: 0.1em;
}
.Dropdown li {
	width: auto;
}
/**************************
	BREADCRUMB E RICERCA
***************************/
.breadcrumb {
	margin-top:4em;
	border: 1px solid black;
}	

.path {
	float:left;
}

.searchform {
	padding-top:1em;
	float: right;
}

/**************************
			INDEX
***************************/

.text {
	padding-left:0.2em;
}

#corpo{
	clear:both;
	border:1px solid #F2F2F2;
	float:left;
}

/**************************
			SLIDESHOW
***************************/
.slideshow{
	padding-bottom:6em;
	border-bottom:1px solid #F2F2F2;
}

/**************************
		RECENSIONI E NEWS
***************************/

.doubletable{
	padding: 0.2em;	
	float: left;
	min-width: 49%;
	margin: auto;
	border-bottom:1px solid #F2F2F2;
}
.doubletable dt{
	margin: 0;
	padding-bottom: 0.5em;
	text-align: center;
	font-size:1em;
	font-weight:bold; 
}
.doubletable dd{
	list-style-type:none;
	display: block;
	padding: 0.2em;
	overflow: hidden; 
}
.doubletable dd:hover{
	background-color: #F2F2F2; 
}
#newsrec {
	border: 1px solid #F2F2F2;
	margin-bottom: 5em;
}
#news {
	border-left: 1px solid #F2F2F2;
}
/**************************
		CONTATTI
***************************/
#emailform {
	margin-top: 5em;
	width: 100%;
}
#emailform fieldset {
	padding-left: 1em;
	border: 1px solid #F2F2F2;
}
#emailform label {
	
	text-align: left;
	display: block;
}
#emailform textarea {
	width: 60%;
	max-width: 100%;
	
}

