* {	
	margin: 0em;
	padding: 0em;
}
html, body{
	
	font-family: Verdana, Helvetica, sans-serif;
	margin: auto;
	background-color:#ddd;
}
fieldset {
	border:0;
}
a:link {
	color: blue;
}
a:visited {
	color:#8b2323;
	
}

/**************************
			MENU
***************************/

.menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background-color: grey;
}
.menu ul {
	max-width: 1200px;
	margin:auto ;
	list-style-type: none;
}
.menu li {
	float: left;
	width: 100px;
}

.menu ul li > a{
	padding: 0.5em;
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	
}
.menu ul li > a:hover {
	color: white;
	background-color: black;
}
.menu ul li.icona {
	display:none;
}
.menu li.right {
	float: right;
}

/**************************
	BREADCRUMB E RICERCA
***************************/
.breadcrumb {
	min-height: 2.5em;
	margin-top:2.1em;
	border: 1px solid black;

}	

.path {
	padding-left: 0.5em;
	padding-top: 0.8em;
	float: left;
	
}

.searchform {
	padding-right:0.5em;
	padding-top: 0.7em;
	float: right;
	
}

/**************************
			INDEX
***************************/
#corpo {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.text {
	padding:0.5em;
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1em;
}
/**************************
		RECENSIONI E NEWS
***************************/
.doubletable dl{
	height: 100%;
	background-color: #F2F2F2;
	width:49.5%;
	float: left;
	margin-bottom: 1em;	
}
.doubletable dt{
	border: 1px solid black;
	padding: 0.5em;
	text-align: center;
	font-size:1em;
	font-weight:bold;
}
.doubletable dd a{
	list-style-type:none;
	display: block;
	height: 10em;	
	overflow: hidden;
	margin-bottom: 0.5em;
	border-bottom: 1px solid black;
}
.doubletable dd:hover{
	background-color: orange; 
}
#news {
	float:right;
	width: 27%;
}
#rec {
	float: left;
	width: 70%;
}

.doubletable dd a img{
	top: 0;
	width: 25%;
	float: left;
	min-height: 70%;
}

.doubletable dd a div{
	width: 70%;
	text-align: left;
	margin-top: 0;
	float: right;
	color: black;
	overflow: hidden;

}
.doubletable dd a div h1{
	text-align: center;

}

/**************************------------------------------------------
		FOOTER
***************************/
#footer{
	padding-top: auto;
	background-color: grey;
	clear: both;
	min-height: 3em;
	bottom: 0;
	}
/**************************------------------------------------------
		CONTATTI
***************************/
#emailform {
	margin-top: 5em;
	width: 100%;
	margin-bottom: 5em;
}
#emailform fieldset {
	padding: 1em;
	border: 1px solid #F2F2F2;
}
#emailform label {
	text-align: left;
	display: block;
}
#emailform textarea {
	width: 95%;
	height: 10em;
}
#emailbt {
	margin: 0.5em 0.5em 0.5em 0;
	display: block;
	vertical-align:top;
}


