* {	
	margin: 0em;
	padding: 0em;
}
html, body{
	max-width: 1024px;
	font-family: Verdana, Helvetica, sans-serif;
	margin: auto;
	background-color:#ddd;
}
fieldset {
	border:0;
}
a:link {
	color: blue;
}
a:visited {
	color:#8b2323;
	
}

/**************************
			MENU
***************************/

.menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background-color: grey;

}
.menu ul {
	max-width: 1024px;
	list-style-type: none;
	margin:auto ;
	padding: 0;
	overflow: hidden;
}
.menu li {
	float: left;
	width: 100px;
}

.menu li > a , #Accesso{
	padding: 0.5em;
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
}
.menu li > a:hover, #Accesso:hover {
	color: white;
	background-color: black;
}
/**************************
		MENU - ACCESSO
***************************/
#Accesso{
	float:right;
}
#Dropdown {

	right:0;
	display: none;
	position: absolute;
	top: 2.1em;
	border:1px solid black; 
	max-width: 25em;
	min-width: 15em;
	z-index: 8;
	padding:0.5em;
}
.textBox{
	display:block;
	margin: 0.3em auto 0.3em auto;
	width:80%;
	float: top;
	
}

#btnAccedi{
	margin-top:1em;
	width:80%;
}

#forgot, #register{
   display: block;
   vertical-align:top;
	font-size: 0.8em;
	text-align: left;
	padding-left: 10%;

}


#Accesso:hover  #Dropdown{
	background-color: #aaaaaa;
	display: block;
}

/**************************
	BREADCRUMB E RICERCA
***************************/
.breadcrumb {
	height: 2.5em;
	margin-top:2.1em;
	border: 1px solid black;

}	

.path {
	padding-left: 0.5em;
	padding-top: 0.8em;
	float: left;
	
}

.searchform {
	padding-right:0.5em;
	padding-top: 0.7em;
	float: right;
	
}

/**************************
			INDEX
***************************/

.text {
	padding:0.5em;
}

#corpo{
	clear:both;
	border:1px solid #F2F2F2;
	float:left;
}

/**************************
			SLIDESHOW
***************************/
.slideshow{
	border:1px solid black;
	max-width: 100%;
	max-height: 40em;
	position: relative;
	z-index: 1;
	background-color: #F2F2F2;
}
.back, .next  {
 	cursor: pointer;
	color: white;
	background-color: grey;
	padding: 1em;
	top: 40%;
	position: absolute;
}
.next {
	right: 0;
}
.back:hover, .next:hover {
	background-color: orange;
}
.slideshow img {
	position: relative;
	padding: 1em;
	margin-left: 3em;
	max-width: 45%;
	height: 15em;
}
.slideTitle, .slideAuthor, .slideRate {
	display:block;
	top: 1em;
	left: 50%;
	position: absolute;
	font-weight: bold;
	font-size: 1em;
}
.slideAuthor {
	top: 7em;
}
.slideRate {
	top: 14em;
}
/**************************
		RECENSIONI E NEWS
***************************/

.doubletable{
	padding: 0.2em 0 0.2em 0;
	float: left;
	min-width: 49%;
	border-bottom:1px solid #F2F2F2;
}
.doubletable dt{
	margin: 0;
	padding-bottom: 0.5em;
	text-align: center;
	font-size:1em;
	font-weight:bold; 
}
.doubletable dd {
	width: 100%;
	overflow: hidden;
}
.doubletable dd a{
	list-style-type:none;
	display: block;
	padding: 0.3em;
	overflow: hidden; 
}
.doubletable dd:hover{
	background-color: #F2F2F2; 
}
#newsrec {
	border: 1px solid #F2F2F2;
	margin-bottom: 5em;
}
#news {
	border-left: 1px solid #F2F2F2;
}
/**************************
		CONTATTI
***************************/
#emailform {
	margin-top: 5em;
	width: 100%;
}
#emailform fieldset {
	padding-left: 1em;
	border: 1px solid #F2F2F2;
}
#emailform label {
	
	text-align: left;
	display: block;
}
#emailform textarea {
	width: 95%;
	height: 10em;
	
}
#emailbt {
	display: block;
   vertical-align:top;
}


