* {	
	margin: 0em;
	padding: 0em;
}
html, body{
	
	font-family: Verdana, Helvetica, sans-serif;
	margin: auto;
	background-color:#ddd;
}
fieldset {
	border:0;
}

/**************************
			MENU
***************************/

.menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background-color: grey;
}
.menu ul {
	max-width: 1200px;
	margin:auto ;
	list-style-type: none;
}
.menu li {
	float: left;
	width: 100px;
}

.menu ul li > a{
	padding: 0.5em;
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	
}
.menu ul li > a:hover {
	color: white;
	background-color: black;
}
.menu ul li.icona {
	display:none;
}
.menu li.right {
	float: right;
}

/**************************
	BREADCRUMB E RICERCA
***************************/
.breadcrumb {
	min-height: 2.5em;
	margin-top:2.1em;
	border: 1px solid black;

}	

.path {
	padding-left: 0.5em;
	padding-top: 0.8em;
	float: left;
	
}

.searchform {
	padding-right:0.5em;
	padding-top: 0.7em;
	float: right;
	
}

/**************************
			INDEX
***************************/
#corpo {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.text {
	padding:0.5em;
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1em;
}
/**************************
		RECENSIONI E NEWS
***************************/
.doubletable dl{
	height: 100%;
	background-color: #F2F2F2;
	width:49.5%;
	float: left;
	margin-bottom: 1em;	
}
.doubletable dt{
	border: 1px solid black;
	padding: 0.5em;
	text-align: center;
	font-size:1em;
	font-weight:bold;
}
.doubletable dd a{
	list-style-type:none;
	display: block;
	height: 10em;	
	overflow: hidden;
	margin-bottom: 0.5em;
	border-bottom: 1px solid black;
}
.doubletable dd:hover{
	background-color: orange; 
}
#news {
	float:right;
	width: 27%;
}
#rec {
	float: left;
	width: 70%;
}

.doubletable dd a img{
	top: 0;
	width: 25%;
	float: left;
	min-height: 70%;
}

.doubletable dd a div{
	width: 70%;
	text-align: left;
	margin-top: 0;
	float: right;
	color: black;
	overflow: hidden;

}
.doubletable dd a div h1{
	text-align: center;

}

/**************************------------------------------------------
		FOOTER
***************************/
#footer{
	padding-top: auto;
	background-color: grey;
	clear: both;
	min-height: 3em;
	bottom: 0;
	}
/**************************------------------------------------------
		CONTATTI
***************************/
#emailform {
	margin-top: 5em;
	width: 100%;
	margin-bottom: 5em;
}
#emailform fieldset {
	padding: 1em;
	border: 1px solid #F2F2F2;
}
#emailform label {
	text-align: left;
	display: block;
}
#emailform textarea {
	width: 95%;
	height: 10em;
}
#emailbt {
	margin: 0.5em 0.5em 0.5em 0;
	display: block;
	vertical-align:top;
}
/**************************------------------------------------------
		ACCEDI
***************************/

.login{
	margin-top: 2em;
	margin-bottom: 0.5em;
	font-size: 1.5em;
	text-align: center;
}

#boxAccedi, #creaAccount{
	background-color: #fff;
	border: 1px solid #d8dee2;
	width: 300px;
	margin: 0 auto;
	border-radius: 5px;
}

#subBox{
	padding:1em;
}
.textBox > label{
	font-size: 0.8em;
}

.username_input, .username_psw{
	border-radius: 3px;
	height: 1em;
	width: 100%;	
	display: block;
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	padding-top: 3px ;
	padding-bottom: 3px;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	
}

.username_psw{
	margin-bottom: 0.5em;
}

#btnAccedi{
	padding: 0.4em;
	margin-top:20px;
	display: block;
	width: 100%;
	margin: 0 auto;
}

#forgot{
	font-size: 0.7em;
	float:right;
	padding-top: 0.2em;
}

#checkbox{
	font-size: 0.5em;
}

#creaAccount{
	display: block;
	font-size: 0.8em;
	width: 300px;
	padding: 0.5em 0;
	margin-top: 0.5em;
	text-align: center;
}
.checkboxtext{
	font-size: 0.8em;
	margin-top: 0.5em;
}
/**************************------------------------------------------
		AMMINISTRAZIONE
***************************/

 a.grey:link {color:white; text-decoration: none; 
border: 1px solid grey;background-color:gray;} 

      a.grey:visited {color: white;text-decoration: none;border: 1px solid grey;background-color:grey} 

.login{
	margin-top: 2em;
	margin-bottom: 0.5em;
	font-size: 1.5em;
	text-align: center;
}

#box{
	background-color: #fff;
	border: 1px solid #d8dee2;
	width: 300px;
	margin: 0 auto;
	border-radius: 5px;
}

#subBox{
	padding:1em;
}
.textBox > label{
	font-size: 0.8em;
}

.input{
	border-radius: 3px;
	height: 1em;
	width: 100%;	
	display: block;
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	padding-top: 3px ;
	padding-bottom: 3px;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	
}


#btn{
	padding: 0.4em;
	margin-top:20px;
	display: block;
	width: 100%;
	margin: 0 auto;
}

a.grey:link{
color:white; 
text-decoration: none; 
border: 1px solid grey;
background-color:grey;
} 

a.grey:visited{
color:white; 
text-decoration: none; 
border: 1px solid grey;
background-color:grey;
} 
body{
height:100%;margin:0;padding:0;text-align:center;} 